*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

body{
    background-color: rgb(101, 101, 101);
}

.container-todo {
    height: 100vh;
    background: left no-repeat url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d8992206-afdf-459a-80d7-a66541d35c18/dfgi07u-2e5ecc3c-09a4-4776-806c-b1ba6e5eff5a.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q4OTkyMjA2LWFmZGYtNDU5YS04MGQ3LWE2NjU0MWQzNWMxOFwvZGZnaTA3dS0yZTVlY2MzYy0wOWE0LTQ3NzYtODA2Yy1iMWJhNmU1ZWZmNWEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.-3TuDRrXSC5qCB9za5qaabwy5GZqEXkonWnVpBew9Is);
}

.my-card {
    width: 336px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    background-color: #fff;
}

.my-card-top{
    width: 334px;
    height: 28px;
    background: #FFDC40;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.my-card-header-container {
    width: 100%;
    height: 34px;
    margin-top: 13px;
}

.my-card-header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
}

.filter-container {
    margin-top: 16px;
    width: 100%;
    text-align: end;
}

.filter-icon {
    font-size: 23px;
    color: #C4C4C4;
    margin-right: 30px;
}

.todos-container {
    margin: auto;
    width: 286px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    margin-top: 11px;
    margin-bottom: 18px;
}

.todo-container {
    margin: auto;
    width: 95%;
    margin: 6px 10px 10px 10px;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
}

.todo-input {
    outline: none;
    border: none;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 0;
}

.task-operation-btn {
    width: 10%;
    margin-left: 10px;
    font-size: 24px;
    color: #C4C4C4;
}

.task-operation-btn:hover {
    color: #833AE0;
}

.btn-container {
    margin-top: 18px;
    margin-bottom: 19px;
    width: 100%;
}

.adding-btn {
    margin: auto;
    background: #833AE0;
    border-radius: 71px;
    width: 150px;
    height: 42px;
    display: flex;
    align-items: center;
    transition: ease-in .3s;
}

.circle-plus {
    background: #9953F1;
    border-radius: 71px;
    padding:  6.5px;
    padding-right: 9px;
    outline: none;
    border: none;
    transition: ease-in .3s;
}

.bx-plus {
    color: #fff;
    font-size: 22px;
    padding: 3px 0px 0px 3px;
}

.adding-btn span{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

.adding-btn:hover{
    background: #743eb6;
}

.circle-plus:hover {
    background: #833AE0;
}
.active {
    display: block !important;
}

.my-alert {
    position: absolute;
}


.remove-error {
    color: grey;
    font-size: 30px;
    margin-left: 15px;
}
